  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.headline {
    font-size: 36px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    padding: 36px 0px 12px;
}

.text {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
}

.label {
  font-size: 12px;
  font-family: 'Inter', sans-serif;
}

.bold {
  font-weight: bold;
}